# Dependencies
node_modules
.pnpm-store

# Build output
dist
dist-ssr
*.local

# Tauri / Rust
src-tauri/target
src-tauri/*.dll
release-pkg/

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment
.env
.env.*
